* {
  margin: 0;
}

.app {
  background-color: red;
  height: 100vh;
}

.app__header {
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.app__post {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.posts__right {
  margin-left: 20px;
}
